.navbar{
 background-color: white; 
 position: fixed;
 top: 0;
 width: 100%;  
}

.navbar li{
    display: inline;
    padding: 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

a.red {
    color: red;
}

.banner{
    background-color: #660000;
    color: white;
    margin-top: 50px;
    text-align: center;
    padding: 100px;
}

#small-bigal{
    height: 100px;
}

#social{
    color: #660000;
    font-size: 100px;
}

.social-selection{
    padding: 20px 50px;

}

.bold{
    font-weight: 900;
}

.greets ul{
    list-style-type: none;
}

.avatar{
    background-image: url(../images/bigal2.JPG);
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}