.navbar{
 background-color: white; 
 position: fixed;
 top: 0;
 width: 100%;  
}

.navbar li{
    display: inline-block;
    padding: 0px 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

a.blue {
    color: red;

}

.banner{
    background-color: #660000;
    color: white;
    margin-top: 50px;
    text-align: center;
    padding: 100px;
}

#small-bigal{
    height: 100px;
}

#social{
    color: #660000;
    font-size: 100px;
}

.social-selection{
    padding: 20px 50px;
}